*
*.*
!CMakeLists.txt
!/src/
!/src/include/
!*.hpp
!*.cpp
!*.h
!.gitignore
!/test/
!/test/aim/
!/test/aim/*.cnf
!*.py
!/src/sapy/
!/src/include/sapy/
!/src/include/sapy/
!README.md
!conanfile.txt
!build.sh
!/benchmark
!/benchmark/*.py
!/benchmark/*.sh
!/benchmark/cnf
!/benchmark/cnf/UF250.1065.100/
!/benchmark/cnf/UF250.1065.100/*.cnf
!/benchmark/cnf/UUF250.1065.100/
!/benchmark/cnf/UUF250.1065.100/*.cnf
